.history-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #EF3124;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding: 20px;
    color: white;
    padding-top: 35px;
    font-weight: 500;
}

.history-panel.open {
    transform: translateX(0);
}

.history-header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
}

.history-item {
    background: rgba(0, 0, 0, 0.05);
    padding: 10px 15px;
    border-radius: 12px;
    margin-bottom: 10px;
    color: white;
}

.close-btn {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
}